@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.home,
about {
  background-image: url('./assets/images/forest\ road.jpeg');
  color: rgb(212, 212, 212);
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: center;
}

/* .portfolio {
  display: flex;
  justify-content: center;
} */

.header {
  display: flex;
  justify-content: center;
  padding: 30px 10%;
}

.nav {
  display: flex;
  justify-content: center;
  color: rgb(212, 212, 212);
}

ul,
li {
  display: inline-block;
  padding: 0 20px;
}

.footer {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  margin-top: auto;
}

.resume {
  display: flex;
  justify-content: center;
}

.resume-pdf {
  display: flex;
  justify-content: center;
}

.resume-button {
  border-radius: 7px;
  size: 50px;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills-list li {
  list-style: disc;
  display: block;
  padding: 3px;
}


.profile-pic {
  height: auto;
  width: 30%;
}

